<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>payload</key>
							<string>file:///opt/homebrew/Cellar/glfw/3.4/lib/libglfw.3.4.dylib</string>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>platform</string>
							<key>payload</key>
							<dict>
								<key>base-id</key>
								<string>macosx</string>
								<key>relative-path</key>
								<string>Developer/SDKs/MacOSX26.0.sdk/System/Library/Frameworks/CoreVideo.framework</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>platform</string>
							<key>payload</key>
							<dict>
								<key>base-id</key>
								<string>macosx</string>
								<key>relative-path</key>
								<string>Developer/SDKs/MacOSX26.0.sdk/System/Library/Frameworks/IOKit.framework</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>platform</string>
							<key>payload</key>
							<dict>
								<key>base-id</key>
								<string>macosx</string>
								<key>relative-path</key>
								<string>Developer/SDKs/MacOSX26.0.sdk/System/Library/Frameworks/OpenGL.framework</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>platform</string>
							<key>payload</key>
							<dict>
								<key>base-id</key>
								<string>macosx</string>
								<key>relative-path</key>
								<string>Developer/SDKs/MacOSX26.0.sdk/System/Library/Frameworks/Cocoa.framework</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Frameworks</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
